@import url("https://fonts.googleapis.com/css?family=Dosis:400,700");

/* colors */
:root {
	--color-default-primary: #fff;
  --color-default-secondary: #000;
  --color-sun-primary: #fc85f2;
  --color-sun-secondary: #e80909;
	--color-rain-primary: #89cff0;
  --color-rain-secondary: #f987c5;
  --color-cloudy-secondary: lightgreen;
  --color-stormy-primary: purple;
  --color-stormy-secondary: yellow;
}

/* general */
* {
	padding: 0;
	margin: 0;
}

*:focus {
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px); }
	20% { -webkit-transform: translate(-3px, 0px); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px); }
	50% { -webkit-transform: translate(-1px, 2px); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-0deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(0deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-0deg); }
}

.root {
	width: 100vw;
	margin: 0 auto;
  font-family: Dosis;
}

.switch__label {
  color: var(--color-default-secondary);
}

/* grid */
.menu {
  background-color: var(--color-default-primary);
	position: absolute;
	padding: 1rem;
  display: grid;
	grid-template-areas:
		"header header header header"
		". . . ."
		". . . ."
    "eggs . . ."
    "eggs . . ."
		". . . ."
		". noshes . ."
		". noshes . ."
		". . . ."
		". . platters platters"
		". . . ."
		". . . ."
		". . . ."
		". . soup ."
		". . . ."
		". . . ."
		". . . salads"
		". . . ."
		". . . ."
		"boards boards . ."
		". . . ."
		". . . ."
		". . sweet sweet";
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(24, 30vh);
  grid-gap: 1.5rem;
}


/* logo */
.logo {
	top: 15.5%;
	grid-area: header;
	text-align: center;
  position: sticky;
	animation: blink .6s linear infinite;
}

@keyframes blink {
	0% {
		opacity: 0;
	}
	50% {
		opacity: .75;
	}
	100% {
		opacity: 1;
	}
}

.logo__title {
	color: var(--color-default-secondary);
	font-size: 11em;
	transition: font-size .5s ease-in;
}

.logo__subtitle {
	font-size: 1.5em;
	color: var(--color-default-secondary);
}


/* sections */

.section {
  background-color: var(--color-default-secondary);
  position: sticky;
  overflow: scroll;
	scroll-behavior: smooth;
	padding: 0.5rem 1rem;
	top: 1em;
	transform: rotate(180deg);
}

.section:hover {
	background-color: var(--color-default-primary);
	height: 100%;
	transition: transform .2;
	transform: rotate(360deg);
	z-index: 1;
}

.section__header__title {
	color: var(--color-default-primary);
	font-size: 1.75rem;
	transform: rotate(180deg)
}

.section__header__subtitle {
	color: var(--color-default-primary);
	transform: rotate(180deg)
}

.section:hover .section__header__title, .section:hover .section__header__subtitle {
	color: var(--color-default-secondary);
	transform: rotate(360deg);
}

.section--eggs {
	grid-area: eggs;
	top: 2%;
}

.section--noshes {
	grid-area: noshes;
	top: 2%;
}

.section--platters {
	grid-area: platters;
	top: 2%;
}

.section--soup {
	grid-area: soup;
	top: 35.5%;
}

.section--salads {
	grid-area: salads;
	top: 35.5%;
}

.section--boards {
	grid-area: boards;
	top: 90%;
}

.section--sweet {
	grid-area: sweet;
	top: 90%;
}

.container--platters, .container--boards, .container--sweet {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 1rem;
}

/* dishes */
.section__dish {
	margin: 0.7rem 0;
	padding: .2rem .5rem;
}

.section__dish:hover {
	background-color: var(--color-default-secondary);
	transform: scale(1.1);
  transition: all ease 500ms;
	animation: .5s animateBorder ease infinite;
}

@keyframes animateBorder {
  to {
		outline-color: #69D2E7;
    box-shadow: 0 0 0 10px #E0E4CC;
  }
}

.section__dish__title {
	color: var(--color-default-secondary);
	font-size: 1rem;
	margin: 0;
	padding: 0;
}

.section__dish__subtitle {
	color: var(--color-default-secondary);
	font-size: 1rem;
	margin: 0;
	padding: 0;
}

.section__dish__prize {
	color: var(--color-default-secondary);
	float: right;
	font-size: 1rem;
	margin: 0;
	padding: 0;
}

.section__dish:hover .section__dish__title,  .section__dish:hover .section__dish__subtitle, .section__dish:hover .section__dish__prize {
	color: var(--color-default-primary);
}

/* color switch */

/* sunny: pink&red */
.switch--sunny:checked ~ .switch__label {
  color: var(--color-sun-primary);
	transition: color 2s ease-out;

}

.switch--sunny:checked ~ .menu .logo__title, .switch--sunny:checked ~ .menu .logo__subtitle {
  color: var(--color-sun-secondary);
	transition: color 2s ease-out;

}
.switch--sunny:checked ~ .menu .section:hover {
  background-color: var(--color-sun-primary);
	transition: background-color .2s ease-out;
}

.switch--sunny:checked ~ .menu {
  background-color: var(--color-sun-primary);
	transition: background-color 1.5s ease-out;
}

.switch--sunny:checked ~ .menu .section, .switch--sunny:checked ~ .menu .section .section__dish:hover {
	background-color: var(--color-sun-secondary);
}

.switch--sunny:checked ~ .menu .section .section__header__title, .switch--sunny:checked ~ .menu .section .section__header__subtitle, .switch--sunny:checked ~ .menu .section .section__dish:hover .section__dish__prize, .switch--sunny:checked ~ .menu .section .section__dish:hover .section__dish__title, .switch--sunny:checked ~ .menu .section .section__dish:hover .section__dish__subtitle {
	color: var(--color-sun-primary);
	transition: background-color 0.3s ease-out;
}

.switch--sunny:checked ~ .menu .section:hover .section__header__title, .switch--sunny:checked ~ .menu .section:hover .section__header__subtitle, .switch--sunny:checked ~ .menu .section .section__dish .section__dish__prize, .switch--sunny:checked ~ .menu .section .section__dish .section__dish__title, .switch--sunny:checked ~ .menu .section .section__dish .section__dish__subtitle {
	color: var(--color-sun-secondary);
}


/* rainy: blue&pink */
.switch--rainy:checked ~ .switch__label {
  color: var(--color-rain-primary);
	transition: color 2s ease-out;
}

.switch--rainy:checked ~ .menu .logo__title, .switch--rainy:checked ~ .menu .logo__subtitle {
  color: var(--color-rain-secondary);
	transition: color 2s ease-out;

}

.switch--rainy:checked ~ .menu .section:hover {
  background-color: var(--color-rain-primary);
	transition: background-color .2s ease-out;
}

.switch--rainy:checked ~ .menu {
  background-color: var(--color-rain-primary);
	transition: background-color 1.5s ease-out;
}

.switch--rainy:checked ~ .menu .section, .switch--rainy:checked ~ .menu .section .section__dish:hover {
	background-color: var(--color-rain-secondary);
}

.switch--rainy:checked ~ .menu .section .section__header__title, .switch--rainy:checked ~ .menu .section .section__header__subtitle, .switch--rainy:checked ~ .menu .section .section__dish:hover .section__dish__prize, .switch--rainy:checked ~ .menu .section .section__dish:hover .section__dish__title, .switch--rainy:checked ~ .menu .section .section__dish:hover .section__dish__subtitle {
	color: var(--color-rain-primary);
	transition: color 0.3s ease-out;
}

.switch--rainy:checked ~ .menu .section:hover .section__header__title, .switch--rainy:checked ~ .menu .section:hover .section__header__subtitle, .switch--rainy:checked ~ .menu .section .section__dish .section__dish__prize, .switch--rainy:checked ~ .menu .section .section__dish .section__dish__title, .switch--rainy:checked ~ .menu .section .section__dish .section__dish__subtitle {
	color: var(--color-rain-secondary);
}


/* cloudy: white&green */
.switch--cloudy:checked ~ .switch__label {
  color: var(--color-cloudy-secondary);
	transition: color 2s ease-out;
}

.switch--cloudy:checked ~ .menu .logo__title, .switch--cloudy:checked ~ .menu .logo__subtitle {
  color: var(--color-cloudy-secondary);
	transition: color 2s ease-out;
}

.switch--cloudy:checked ~ .menu .section:hover {
  background-color: var(--color-default-primary);
	transition: background-color .2s ease-out;
}

.switch--cloudy:checked ~ .menu {
	background-color: var(--color-default-primary);
	transition: background-color 1.5s ease-out;
}

.switch--cloudy:checked ~ .menu .section, .switch--cloudy:checked ~ .menu .section .section__dish:hover {
	background-color: var(--color-cloudy-secondary);
	/* transition: background-color 2s ease-out; */
}

.switch--cloudy:checked ~ .menu .section .section__header__title, .switch--cloudy:checked ~ .menu .section .section__header__subtitle, .switch--cloudy:checked ~ .menu .section .section__dish:hover .section__dish__prize, .switch--cloudy:checked ~ .menu .section .section__dish:hover .section__dish__title, .switch--cloudy:checked ~ .menu .section .section__dish:hover .section__dish__subtitle {
	color: var(--color-default-primary);
	transition: color 0.3s ease-out;
}

.switch--cloudy:checked ~ .menu .section:hover .section__header__title, .switch--cloudy:checked ~ .menu .section:hover .section__header__subtitle, .switch--cloudy:checked ~ .menu .section .section__dish .section__dish__prize, .switch--cloudy:checked ~ .menu .section .section__dish .section__dish__title, .switch--cloudy:checked ~ .menu .section .section__dish .section__dish__subtitle {
	color: var(--color-cloudy-secondary);
}


/* stormy: purple&yellow */
.switch--stormy:checked ~ .switch__label {
  color: var(--color-stormy-primary);
	transition: color 2s ease-out;
}

.switch--stormy:checked ~ .menu .logo__title, .switch--stormy:checked ~ .menu .logo__subtitle  {
  color: var(--color-stormy-secondary);
	transition: color 2s ease-out;
}

.switch--stormy:checked ~ .menu .section:hover {
  background-color: var(--color-stormy-primary);
	transition: background-color .2s ease-out;
}

.switch--stormy:checked ~ .menu {
	background-color: var(--color-stormy-primary);
	transition: background-color 1.5s ease-out;
}

.switch--stormy:checked ~ .menu .section, .switch--stormy:checked ~ .menu .section .section__dish:hover{
	background-color: var(--color-stormy-secondary);
}

.switch--stormy:checked ~ .menu .section .section__header__title, .switch--stormy:checked ~ .menu .section .section__header__subtitle, .switch--stormy:checked ~ .menu .section .section__dish:hover .section__dish__prize, .switch--stormy:checked ~ .menu .section .section__dish:hover .section__dish__title, .switch--stormy:checked ~ .menu .section .section__dish:hover .section__dish__subtitle {
	color: var(--color-stormy-primary);
	transition: color 0.3s ease-out;
}

.switch--stormy:checked ~ .menu .section:hover .section__header__title, .switch--stormy:checked ~ .menu .section:hover .section__header__subtitle, .switch--stormy:checked ~ .menu .section .section__dish .section__dish__prize, .switch--stormy:checked ~ .menu .section .section__dish .section__dish__title, .switch--stormy:checked ~ .menu .section .section__dish .section__dish__subtitle {
	color: var(--color-stormy-secondary);
}

@media (max-width: 58em) {
	.menu {
		grid-template-areas:
		"header header header"
		". . ."
		". . ."
		". . ."
    "eggs . ."
		". . ."
		". . ."
		". noshes ."
		". . ."
		". . ."
		". . platters"
		". . ."
		". . ."
		"soup . ."
		". . ."
		". . ."
		". salads ."
		". . ."
		". . ."
		". . boards"
		". . ."
		". . ."
		"sweet sweet sweet";
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(30, 25vh);
    grid-gap: 0;
  }

	/* logo */
	.logo {
		top: 17%;
	}

	.logo__title {
		line-height: 11.5rem;
		font-size: 9em;
	}

	/* menu sections */
	.section {
		height: 22vh;
	}

	.section--eggs {
		grid-area: eggs;
		top: 2.5%;
	}

	.section--noshes {
		grid-area: noshes;
		top: 2.5%;
	}

	.section--platters {
		grid-area: platters;
		top: 2.5%;
	}

	.section--soup {
		grid-area: soup;
		top: 37%;
	}

	.section--salads {
		grid-area: salads;
		top: 37%;
	}

	.section--boards {
		grid-area: boards;
		top: 37%;
	}

	.section--sweet {
		grid-area: sweet;
		top: 73%;
	}

  .section--eggs:hover {
		height: 95vh;
	}

  .section--noshes:hover {
		height: 95vh;
	}

  .section--platters:hover {
		height: 95vh;
	}

  .section--soup:hover, .section--salads:hover, .section--boards:hover {
		height: 60vh;
	}

	.section--sweet:hover {
		height: 34vh;
	}

	.container--platters, .container--boards {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-column-gap: 1rem;
	}

	.container--sweet {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: 1rem;
	}

	/* dishes */
	.section__dish {
		margin: 0.7rem 0;
	}

	.section__dish__title {
		font-size: 1rem;
	}

	.section__dish__subtitle {
		font-size: 1rem;
	}

	.section__dish__prize {
		float: right;
		font-size: 1rem;
	}

	/* color switch */

	/* sunny: pink&red */
	.switch--sunny:checked ~ .switch__label {
	  color: var(--color-sun-secondary);
		transition: color 2s ease-out;

	}

	.switch--sunny:checked ~ .menu .logo__title, .switch--sunny:checked ~ .menu .logo__subtitle {
	  color: var(--color-sun-primary);
		transition: color 2s ease-out;

	}
	.switch--sunny:checked ~ .menu .section:hover {
	  background-color: var(--color-sun-secondary);
		transition: background-color .2s ease-out;
	}

	.switch--sunny:checked ~ .menu {
	  background-color: var(--color-sun-secondary);
		transition: background-color 1.5s ease-out;
	}

	.switch--sunny:checked ~ .menu .section, .switch--sunny:checked ~ .menu .section .section__dish:hover {
		background-color: var(--color-sun-primary);
	}

	.switch--sunny:checked ~ .menu .section .section__header__title, .switch--sunny:checked ~ .menu .section .section__header__subtitle, .switch--sunny:checked ~ .menu .section .section__dish:hover .section__dish__prize, .switch--sunny:checked ~ .menu .section .section__dish:hover .section__dish__title, .switch--sunny:checked ~ .menu .section .section__dish:hover .section__dish__subtitle {
		color: var(--color-sun-secondary);
		transition: background-color 0.3s ease-out;
	}

	.switch--sunny:checked ~ .menu .section:hover .section__header__title, .switch--sunny:checked ~ .menu .section:hover .section__header__subtitle, .switch--sunny:checked ~ .menu .section .section__dish .section__dish__prize, .switch--sunny:checked ~ .menu .section .section__dish .section__dish__title, .switch--sunny:checked ~ .menu .section .section__dish .section__dish__subtitle {
		color: var(--color-sun-primary);
	}


	/* rainy: blue&pink */
	.switch--rainy:checked ~ .switch__label {
	  color: var(--color-rain-secondary);
		transition: color 2s ease-out;
	}

	.switch--rainy:checked ~ .menu .logo__title, .switch--rainy:checked ~ .menu .logo__subtitle {
	  color: var(--color-rain-primary);
		transition: color 2s ease-out;

	}

	.switch--rainy:checked ~ .menu .section:hover {
	  background-color: var(--color-rain-secondary);
		transition: background-color .2s ease-out;
	}

	.switch--rainy:checked ~ .menu {
	  background-color: var(--color-rain-secondary);
		transition: background-color 1.5s ease-out;
	}

	.switch--rainy:checked ~ .menu .section, .switch--rainy:checked ~ .menu .section .section__dish:hover {
		background-color: var(--color-rain-primary);
	}

	.switch--rainy:checked ~ .menu .section .section__header__title, .switch--rainy:checked ~ .menu .section .section__header__subtitle, .switch--rainy:checked ~ .menu .section .section__dish:hover .section__dish__prize, .switch--rainy:checked ~ .menu .section .section__dish:hover .section__dish__title, .switch--rainy:checked ~ .menu .section .section__dish:hover .section__dish__subtitle {
		color: var(--color-rain-secondary);
		transition: color 0.3s ease-out;
	}

	.switch--rainy:checked ~ .menu .section:hover .section__header__title, .switch--rainy:checked ~ .menu .section:hover .section__header__subtitle, .switch--rainy:checked ~ .menu .section .section__dish .section__dish__prize, .switch--rainy:checked ~ .menu .section .section__dish .section__dish__title, .switch--rainy:checked ~ .menu .section .section__dish .section__dish__subtitle {
		color: var(--color-rain-primary);
	}


	/* cloudy: white&green */
	.switch--cloudy:checked ~ .switch__label {
	  color: var(--color-cloudy-secondary);
		transition: color 2s ease-out;
	}

	.switch--cloudy:checked ~ .menu .logo__title, .switch--cloudy:checked ~ .menu .logo__subtitle {
	  color: var(--color-default-primary);
		transition: color 2s ease-out;
	}

	.switch--cloudy:checked ~ .menu .section:hover {
	  background-color: var(--color-cloudy-secondary);
		transition: background-color .2s ease-out;
	}

	.switch--cloudy:checked ~ .menu {
		background-color: var(--color-cloudy-secondary);
		transition: background-color 1.5s ease-out;
	}

	.switch--cloudy:checked ~ .menu .section, .switch--cloudy:checked ~ .menu .section .section__dish:hover {
		background-color: var(--color-default-primary);
		/* transition: background-color 2s ease-out; */
	}

	.switch--cloudy:checked ~ .menu .section .section__header__title, .switch--cloudy:checked ~ .menu .section .section__header__subtitle, .switch--cloudy:checked ~ .menu .section .section__dish:hover .section__dish__prize, .switch--cloudy:checked ~ .menu .section .section__dish:hover .section__dish__title, .switch--cloudy:checked ~ .menu .section .section__dish:hover .section__dish__subtitle {
		color: var(--color-cloudy-secondary);
		transition: color 0.3s ease-out;
	}

	.switch--cloudy:checked ~ .menu .section:hover .section__header__title, .switch--cloudy:checked ~ .menu .section:hover .section__header__subtitle, .switch--cloudy:checked ~ .menu .section .section__dish .section__dish__prize, .switch--cloudy:checked ~ .menu .section .section__dish .section__dish__title, .switch--cloudy:checked ~ .menu .section .section__dish .section__dish__subtitle {
		color: var(--color-default-primary);
	}


	/* stormy: purple&yellow */
	.switch--stormy:checked ~ .switch__label {
	  color: var(--color-stormy-secondary);
		transition: color 2s ease-out;
	}

	.switch--stormy:checked ~ .menu .logo__title, .switch--stormy:checked ~ .menu .logo__subtitle  {
	  color: var(--color-stormy-primary);
		transition: color 2s ease-out;
	}

	.switch--stormy:checked ~ .menu .section:hover {
	  background-color: var(--color-stormy-secondary);
		transition: background-color .2s ease-out;
	}

	.switch--stormy:checked ~ .menu {
		background-color: var(--color-stormy-secondary);
		transition: background-color 1.5s ease-out;
	}

	.switch--stormy:checked ~ .menu .section, .switch--stormy:checked ~ .menu .section .section__dish:hover{
		background-color: var(--color-stormy-primary);
	}

	.switch--stormy:checked ~ .menu .section .section__header__title, .switch--stormy:checked ~ .menu .section .section__header__subtitle, .switch--stormy:checked ~ .menu .section .section__dish:hover .section__dish__prize, .switch--stormy:checked ~ .menu .section .section__dish:hover .section__dish__title, .switch--stormy:checked ~ .menu .section .section__dish:hover .section__dish__subtitle {
		color: var(--color-stormy-secondary);
		transition: color 0.3s ease-out;
	}

	.switch--stormy:checked ~ .menu .section:hover .section__header__title, .switch--stormy:checked ~ .menu .section:hover .section__header__subtitle, .switch--stormy:checked ~ .menu .section .section__dish .section__dish__prize, .switch--stormy:checked ~ .menu .section .section__dish .section__dish__title, .switch--stormy:checked ~ .menu .section .section__dish .section__dish__subtitle {
		color: var(--color-stormy-primary);
	}
}

@media (max-width: 38em) {
	/* grid */
	.menu {
		grid-template-areas:
			"header"
			"."
			"."
			"."
	    "eggs"
			"eggs"
			"."
			"."
			"."
			"noshes"
			"noshes"
			"."
			"."
			"."
			"platters"
			"platters"
			"."
			"."
			"."
			"."
			"soup"
			"soup"
			"."
			"."
			"."
			"salads"
			"salads"
			"."
			"."
			"."
			"boards"
			"boards"
			"."
			"."
			"."
			"sweet"
			"sweet";
		grid-template-columns: 1fr;
		grid-template-rows: repeat(40, 25vh);
		scroll-snap-type: y mandatory;
  }

	/* logo */
	.logo__title {
		line-height: 8rem;
		font-size: 6em;
	}

	.logo__subtitle {
		font-size: 1.25rem;
		margin-top: 15%;
	}

	/* menu sections */

	.section:hover {
		height: 95vh;
	}

	.section--eggs {
		grid-area: eggs;
		top: 2%;
	}

	.section--noshes {
		grid-area: noshes;
		top: 37.5%;
	}

	.section--platters {
		grid-area: platters;
		top: 73.5%;
	}

	.section--soup {
		grid-area: soup;
		top: 2%;
	}

	.section--salads {
		grid-area: salads;
		top: 37.5%;
	}

	.section--boards {
		grid-area: boards;
		top: 73.5%;
	}

	.section--sweet {
		grid-area: sweet;
		top: 2%;
	}

	.container--sweet {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-column-gap: 1rem;
	}

	/* dishes */
	.section__dish {
		margin: 0.7rem 0;
	}

	.section__dish__title {
		font-size: 1rem;
	}

	.section__dish__subtitle {
		font-size: 1rem;
	}

	.section__dish__prize {
		float: right;
		font-size: 1rem;
	}

	/* color switch */

	/* sunny: pink&red */
	.switch--sunny:checked ~ .switch__label {
	  color: var(--color-sun-primary);
		transition: color 2s ease-out;

	}

	.switch--sunny:checked ~ .menu .logo__title, .switch--sunny:checked ~ .menu .logo__subtitle {
	  color: var(--color-sun-secondary);
		transition: color 2s ease-out;

	}
	.switch--sunny:checked ~ .menu .section:hover {
	  background-color: var(--color-sun-primary);
		transition: background-color .2s ease-out;
	}

	.switch--sunny:checked ~ .menu {
	  background-color: var(--color-sun-primary);
		transition: background-color 1.5s ease-out;
	}

	.switch--sunny:checked ~ .menu .section, .switch--sunny:checked ~ .menu .section .section__dish:hover {
		background-color: var(--color-sun-secondary);
	}

	.switch--sunny:checked ~ .menu .section .section__header__title, .switch--sunny:checked ~ .menu .section .section__header__subtitle, .switch--sunny:checked ~ .menu .section .section__dish:hover .section__dish__prize, .switch--sunny:checked ~ .menu .section .section__dish:hover .section__dish__title, .switch--sunny:checked ~ .menu .section .section__dish:hover .section__dish__subtitle {
		color: var(--color-sun-primary);
		transition: background-color 0.3s ease-out;
	}

	.switch--sunny:checked ~ .menu .section:hover .section__header__title, .switch--sunny:checked ~ .menu .section:hover .section__header__subtitle, .switch--sunny:checked ~ .menu .section .section__dish .section__dish__prize, .switch--sunny:checked ~ .menu .section .section__dish .section__dish__title, .switch--sunny:checked ~ .menu .section .section__dish .section__dish__subtitle {
		color: var(--color-sun-secondary);
	}


	/* rainy: blue&pink */
	.switch--rainy:checked ~ .switch__label {
	  color: var(--color-rain-primary);
		transition: color 2s ease-out;
	}

	.switch--rainy:checked ~ .menu .logo__title, .switch--rainy:checked ~ .menu .logo__subtitle {
	  color: var(--color-rain-secondary);
		transition: color 2s ease-out;

	}

	.switch--rainy:checked ~ .menu .section:hover {
	  background-color: var(--color-rain-primary);
		transition: background-color .2s ease-out;
	}

	.switch--rainy:checked ~ .menu {
	  background-color: var(--color-rain-primary);
		transition: background-color 1.5s ease-out;
	}

	.switch--rainy:checked ~ .menu .section, .switch--rainy:checked ~ .menu .section .section__dish:hover {
		background-color: var(--color-rain-secondary);
	}

	.switch--rainy:checked ~ .menu .section .section__header__title, .switch--rainy:checked ~ .menu .section .section__header__subtitle, .switch--rainy:checked ~ .menu .section .section__dish:hover .section__dish__prize, .switch--rainy:checked ~ .menu .section .section__dish:hover .section__dish__title, .switch--rainy:checked ~ .menu .section .section__dish:hover .section__dish__subtitle {
		color: var(--color-rain-primary);
		transition: color 0.3s ease-out;
	}

	.switch--rainy:checked ~ .menu .section:hover .section__header__title, .switch--rainy:checked ~ .menu .section:hover .section__header__subtitle, .switch--rainy:checked ~ .menu .section .section__dish .section__dish__prize, .switch--rainy:checked ~ .menu .section .section__dish .section__dish__title, .switch--rainy:checked ~ .menu .section .section__dish .section__dish__subtitle {
		color: var(--color-rain-secondary);
	}


	/* cloudy: white&green */
	.switch--cloudy:checked ~ .switch__label {
	  color: var(--color-cloudy-secondary);
		transition: color 2s ease-out;
	}

	.switch--cloudy:checked ~ .menu .logo__title, .switch--cloudy:checked ~ .menu .logo__subtitle {
	  color: var(--color-cloudy-secondary);
		transition: color 2s ease-out;
	}

	.switch--cloudy:checked ~ .menu .section:hover {
	  background-color: var(--color-default-primary);
		transition: background-color .2s ease-out;
	}

	.switch--cloudy:checked ~ .menu {
		background-color: var(--color-default-primary);
		transition: background-color 1.5s ease-out;
	}

	.switch--cloudy:checked ~ .menu .section, .switch--cloudy:checked ~ .menu .section .section__dish:hover {
		background-color: var(--color-cloudy-secondary);
		/* transition: background-color 2s ease-out; */
	}

	.switch--cloudy:checked ~ .menu .section .section__header__title, .switch--cloudy:checked ~ .menu .section .section__header__subtitle, .switch--cloudy:checked ~ .menu .section .section__dish:hover .section__dish__prize, .switch--cloudy:checked ~ .menu .section .section__dish:hover .section__dish__title, .switch--cloudy:checked ~ .menu .section .section__dish:hover .section__dish__subtitle {
		color: var(--color-default-primary);
		transition: color 0.3s ease-out;
	}

	.switch--cloudy:checked ~ .menu .section:hover .section__header__title, .switch--cloudy:checked ~ .menu .section:hover .section__header__subtitle, .switch--cloudy:checked ~ .menu .section .section__dish .section__dish__prize, .switch--cloudy:checked ~ .menu .section .section__dish .section__dish__title, .switch--cloudy:checked ~ .menu .section .section__dish .section__dish__subtitle {
		color: var(--color-cloudy-secondary);
	}


	/* stormy: purple&yellow */
	.switch--stormy:checked ~ .switch__label {
	  color: var(--color-stormy-primary);
		transition: color 2s ease-out;
	}

	.switch--stormy:checked ~ .menu .logo__title, .switch--stormy:checked ~ .menu .logo__subtitle  {
	  color: var(--color-stormy-secondary);
		transition: color 2s ease-out;
	}

	.switch--stormy:checked ~ .menu .section:hover {
	  background-color: var(--color-stormy-primary);
		transition: background-color .2s ease-out;
	}

	.switch--stormy:checked ~ .menu {
		background-color: var(--color-stormy-primary);
		transition: background-color 1.5s ease-out;
	}

	.switch--stormy:checked ~ .menu .section, .switch--stormy:checked ~ .menu .section .section__dish:hover{
		background-color: var(--color-stormy-secondary);
	}

	.switch--stormy:checked ~ .menu .section .section__header__title, .switch--stormy:checked ~ .menu .section .section__header__subtitle, .switch--stormy:checked ~ .menu .section .section__dish:hover .section__dish__prize, .switch--stormy:checked ~ .menu .section .section__dish:hover .section__dish__title, .switch--stormy:checked ~ .menu .section .section__dish:hover .section__dish__subtitle {
		color: var(--color-stormy-primary);
		transition: color 0.3s ease-out;
	}

	.switch--stormy:checked ~ .menu .section:hover .section__header__title, .switch--stormy:checked ~ .menu .section:hover .section__header__subtitle, .switch--stormy:checked ~ .menu .section .section__dish .section__dish__prize, .switch--stormy:checked ~ .menu .section .section__dish .section__dish__title, .switch--stormy:checked ~ .menu .section .section__dish .section__dish__subtitle {
		color: var(--color-stormy-secondary);
	}

}
