/* attributes */

.nopadding {
	padding: 0;
}

.nomargin {
	margin: 0;
}

/* grid */

.menu {
	position: absolute;
	padding: 1rem;
	box-sizing: border-box;
	width: 100vw;
	display: grid;
	grid-gap: 1.5rem;
	grid-template-areas:
		"header header header header"
		". . . ."
		". . . ."
    "eggs . . ."
    "eggs . . ."
		". . . ."
		". noshes . ."
		". noshes . ."
		". . . ."
		". . platters platters"
		". . . ."
		". . . ."
		". . . ."
		". . soup ."
		". . . ."
		". . . ."
		". . . salads"
		". . . ."
		". . . ."
		"boards boards . ."
		". . . ."
		". . . ."
		". . sweet sweet";
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(24, 30vh);
}

/* styles */

.body {
	background-color: darkred;
	width: 100vw;
	margin: 0 auto;
}

.header {
	grid-area: header;
	text-align: center;
	position: sticky;
}

.title {
	color: red;
}

.title-dish {
	color: darkred;
}

.subtitle {
	color: red;
	margin: 0.5rem 0 1em 0;
}

.subtitle-dish {
	color: darkred;
}

/* menu sections */

.section {
	background-color: red;
	padding: 0.5rem 1rem;
	position: sticky;
	top: 1em;
}

.section:hover {
	border-radius: 50px;
}

.section-eggs {
	grid-area: eggs;
	top: .5em;
}

.section-noshes {
	grid-area: noshes;
	top: .5em;
}

.section-platters {
	grid-area: platters;
	top: .5em;
}

.section-soup {
	grid-area: soup;
	top: 15.25em;
}

.section-salads {
	grid-area: salads;
	top: 15.25em;
}

.section-boards {
	grid-area: boards;
	top: 32.5rem;
}

.section-sweet {
	grid-area: sweet;
	top: 32.5rem;
}



@media (max-width: 58em) {

	/* grid */

	.menu {
		position: absolute;
		grid-gap: 1em;
		grid-template-areas:
		"header header header"
		". . ."
		". . ."
		". . ."
    "eggs eggs ."
    "eggs eggs ."
		". . ."
		". . ."
		". . noshes"
		". . noshes"
		". . noshes"
		". . ."
		". . platters"
		". . platters"
		". . platters"
		". . ."
		". . ."
		". . ."
		"soup soup ."
		". . ."
		". . ."
		". . ."
		"salads salads ."
		". . ."
		". . ."
		". . ."
		"boards boards ."
		". . ."
		". . ."
		"sweet sweet sweet";
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(30, 22.5vh);
  }

	/* styles */

	.body {
    background-color: darkgreen;
  }

	.title {
		color: lightgreen;
	}

	.title-dish {
		color: darkgreen;
	}

	.subtitle {
		color: lightgreen;
	}

	.subtitle-dish {
		color: darkgreen;
	}

	/* menu sections */

	.section {
		background-color: lightgreen;
		padding: 0.5rem 1rem;
	}

	.section-eggs {
		grid-area: eggs;
		top: 1em;
	}

	.section-noshes {
		grid-area: noshes;
		top: 1em;
	}

	.section-platters {
		grid-area: platters;
		top: 36.7em;
	}

	.section-soup {
		grid-area: soup;
		top: 24.75em;
	}

	.section-salads {
		grid-area: salads;
		top: 36.7em;
	}

	.section-boards {
		grid-area: boards;
	}

	.section-sweet {
		grid-area: sweet;
		top: 100;
	}

}

@media (max-width: 38em) {

	/* grid */

	.menu {
		height: 310vh;
		grid-template-areas:
			"header"
			"."
			"."
			"."
	    "eggs"
	    "eggs"
			"."
			"."
			"noshes"
			"noshes"
			"."
			"."
			"."
			"."
			"platters"
			"."
			"."
			"."
			"."
			"soup"
			"."
			"."
			"."
			"salads"
			"."
			"."
			"."
			"boards"
			"."
			"."
			"sweet"
			"sweet";
		grid-template-columns: 1fr;
		grid-template-rows: repeat(33, 22.5vh);
  }

	/* styles */

	.body {
		background-color: darkblue;
	}

	.title {
		color: blue;
	}

	.title-dish {
		color: darkblue;
	}

	.subtitle {
		color: blue;
	}

	.subtitle-dish {
		color: darkblue;
	}

	/* menu sections */

	.section {
		background-color: blue;
	}

	.section-eggs {
		grid-area: eggs;
	}

	.section-noshes {
		grid-area: noshes;
	}

	.section-platters {
		grid-area: platters;
	}

	.section-soup {
		grid-area: soup;
	}

	.section-salads {
		grid-area: salads;
	}

	.section-boards {
		grid-area: boards;
	}

	.section-sweet {
		grid-area: sweet;
	}
}
